<!DOCTYPE html>
<html>
<head>
  <title>Twotypes</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<% if flash.present? %>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#notices").show();
				$("#notices").fadeOut(3000);
			});
		</script>			
	<% end %>
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200, 400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-15461246-3']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
<div id="wrapper">

	<div id="notices">
		<% flash.each do |key, value| %>
			<div id="notice_<%= key %>"><%= value %></div>
		<% end %>
	</div>
	<div id="container">
		<%= yield %>
	</div>
</div>
</body>
</html>
